*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    font-size: 32px;
    color: black;
    background-color:violet;
    text-align: center;
    border-style: solid;
}
h2{
    border-style: solid;
}
